body {
	padding: 20px;
	background: rgba(1, 151, 39, .2) url("../img/fondo.jpg") no-repeat fixed center;
	/*background-color: rgba(200,200,2,0.5);*/
}

.s10.nav {
	position: relative;
	height: 133px;
}

.btn {
	padding: 0 1rem;
}

article > div {
	background-color: rgba(255, 255, 255, 1);
	padding: 1rem !important;
}

p {
	text-align: justify;
}

div.col.m8 > .row.col.m12, .input-field .prefix.active {
	background-color: rgba(255, 255, 255, 1) !important;
}

.input-field label {
	color: #494949;
}

input:not([type]):focus:not([readonly]) + label, input[type="text"]:focus:not([readonly]) + label, input[type="password"]:focus:not([readonly]) + label, input[type="email"]:focus:not([readonly]) + label, input[type="url"]:focus:not([readonly]) + label, input[type="time"]:focus:not([readonly]) + label, input[type="date"]:focus:not([readonly]) + label, input[type="datetime"]:focus:not([readonly]) + label, input[type="datetime-local"]:focus:not([readonly]) + label, input[type="tel"]:focus:not([readonly]) + label, input[type="number"]:focus:not([readonly]) + label, input[type="search"]:focus:not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly]) + label {
	color: #000;
	animation-name: example;
	animation-duration: .5s;
	animation-iteration-count: infinite;
}

h4 {
	text-shadow: 0px 0px 3px #FFF;
}

@keyframes example {
    from {color: #828282;}
    to {color: #494949;}
}