body{
  background: url("../img/login-fondo.jpg");
  color: #FFF;
  font-size: 14px !important;
}
.form_login{
  padding-top: 15%;
}

.form{
  padding: 20px 20px 0px;
  background: rgba(56, 54, 54, 0.6);
  border: 1px solid rgb(182, 182, 182);
  box-shadow: 0px 0px 7px;
}

.no-padding{
  padding: 0px !important;
}
.no-padding-left{
  padding-left: 0px !important;
}
.no-padding-right{
  padding-right: 0px !important;
}

.no-margin{
  margin: 0px !important;
}
.no-margin-left{
  margin-left: 0px !important;
}
.no-margin-right{
  margin-right: 0px !important;
}


/* ESTILO PARA TEREAS PENDIENTES */
.t-p .card{
  height: 500px;
}
.t-p .card .card-content{
  padding: 15px !important;
}
.t-p .card .card-action{
  bottom: 0px;
  position: absolute;
  right: 0px;
  border-top: none;
  padding: 15px;
}

.linea-bottom{
  border-bottom: 1px solid rgba(200, 200, 200, 0.5);
}



/* COMPONENTE INICIO */

 .body {
    background: url("../../assets/img/main-fondo.jpg");
    width: 100%;
    height: 100%;
    position: absolute;
   } 

.row {
    max-width: 70rem;
}
.catalogo{
    background: #FFF;
    color: #5d5d5d;
    padding: 1.5rem 1.5rem 0px;
    margin-bottom: 15px;
    max-height: 565px;
    width: 100%;
    position: initial;
    overflow: auto;
}

.card{
    margin: 15px auto;
}

.card:hover{
    box-shadow: 0px 0px 5px #6D6D6D;
}

.card img{
    padding: .3rem;
    max-height: 150px
}

.card-section{
    padding: 0px .3rem;
}

.column{
    padding-left: 0.2rem;
    padding-right: 0.2rem;
}

input.column {
    margin-left: .3rem
}

.button, .button:hover, .button:focus {
    padding: .7rem 0.1rem;
    color: #FFF !important;
}

p {
    margin-bottom: .5rem;
}

img {
    max-height: 400px;
}

.thumbnail {
    box-shadow: 0px 0px 5px #000f;
}

/* COMPONENTE MENU */

.barra_menu{
    padding-left: 15px;
    background: #EBEAEA;
    margin-bottom: 15px;
    color: #5d5d5d;
}

a {
    color: #5d5d5d;
}

li:hover, .activo{
    background: #fefefe;
}

.badge {
  font-weight: bolder;
  padding: 5px;
  float: right;
}

.carrito{
    background: #FFF;
    color: #5d5d5d;
    padding: 1.5rem 1.5rem 0px;
    margin-bottom: 15px;
    max-height: 565px;
    width: 100%;
    position: initial;
    overflow: auto;
}

.producto_carrito{
  padding: .5rem 1.5rem;
  border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

.button.secondary:hover {
    background-color: #E5E5E5;
    border-color: #CCCCCC;
}

.button, .button:hover, .button:focus {
    padding: .7rem 0.1rem;
    color: #FFF
}

.button.hollow.secondary {
    border: 1px solid #bdbcbc;
    color: #727272 !important;
}

div.alert {
    margin-top: 1rem;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    width: 100%;
}

div.alert-danger {
    background-color: #f2dede;
    border-color: #ebcccc;
    border-left: 3px solid #a94442;
    color: #a94442;
}