 .body {
    background: url("../../assets/img/main-fondo.jpg");
    width: 100%;
    height: 100%;
    position: absolute;
   }
   
.carrito{
    background: url("../../assets/img/main-fondo.jpg");
    background: #FFF;
    color: #5d5d5d;
    padding: 1.5rem 1.5rem 0px;
    margin-bottom: 15px;
    max-height: 565px;
    width: 100%;
    position: initial;
    overflow: auto;
}

.producto_carrito{
	padding: .5rem 1.5rem;
	border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
	border-left: 1px solid #ddd;
}

.button.secondary:hover {
    background-color: #E5E5E5;
    border-color: #CCCCCC;
}

.button, .button:hover, .button:focus {
    padding: .7rem 0.1rem;
    color: #FFF
}

.button.hollow.secondary {
    border: 1px solid #bdbcbc;
    color: #727272;
}