<div class="row">
  <ang2-menu class="column no-padding"></ang2-menu>
</div>

<div class=" row ">
  <div class="catalogo">
    <div class="row small-12 linea-bottom">
      <div class="column">
        <h4>Carrito de Compras</h4>
      </div>
      <div class="column">

      </div>
    </div>

    <div class="row small-12 linea-bottom">
      <div class="column">
        <h4>Carrito de Compras</h4>
      </div>
      <div class="column ">
        <strong>tt</strong>

      </div>
    </div>

  </div>
</div>