.barra_menu{
    padding-left: 15px;
    background: #EBEAEA;
    margin-bottom: 15px;
    color: #5d5d5d;
}

a {
    color: #5d5d5d;
}

li:hover, .activo{
    background: #fefefe;
}

.badge {
	font-weight: bolder;
	padding: 5px;
	float: right;
}