 .body {
    background: url("../../assets/img/main-fondo.jpg");
    width: 100%;
    height: 100%;
    position: absolute;
   } 

.catalogo{
    background: #FFF;
    color: #5d5d5d;
    padding: 1.5rem 1.5rem 0px;
    margin-bottom: 15px;
    max-height: 565px;
    width: 100%;
    position: initial;
    overflow: auto;
}

.card{
    margin: 15px auto;
}

.card:hover{
    box-shadow: 0px 0px 5px #6D6D6D;
}

.card img{
    padding: .3rem;
    max-height: 150px
}

.card-section{
    padding: 0px .3rem;
}

.column{
    padding-left: 0.2rem;
    padding-right: 0.2rem;
}

input.column {
    margin-left: .3rem
}

.button, .button:hover, .button:focus {
    padding: .7rem 0.1rem;
    color: #FFF
}

img {
    max-height: 400px;
}

.thumbnail {
    box-shadow: 0px 0px 5px #000f;
}

div.alert {
    margin-top: 1rem;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    width: 100%;
}

div.alert-danger {
    background-color: #f2dede;
    border-color: #ebcccc;
    border-left: 3px solid #a94442;
    color: #a94442;
}